a{
    text-decoration: none;
}

button > a{
    color: #fff;
}

body {
    height: 100vh;
    margin: 0;
    background-color: #f5f5f5;
}

.card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 2%;
}

.card-header {
    background-color: #0b3a9e;
    color: white;
    padding: 10px 20px;
}

.card-body img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.card-footer {
    padding: 15px;
}

.output-container {
    display: inline-flex !important;
    width: auto;
    width: 720px;
}

.tab {
    display: flex;
    /* margin-bottom: 10px; */
}

.tabs button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: background-color 0.3s ease;
}

.tabs button:hover {
    background-color: #555;
}

.tabs button.active {
    background-color: #007BFF;
}

/* Tab Content */
.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

pre {
    background-color: #272822;
    color: #f8f8f2;
    padding: 20px;
    /* border-radius: 5px; */
    overflow-x: auto;
    margin-top: 0;
    font-size: 14px;
}

code {
    display: block;
    white-space: pre;
}

.text-center {
    text-align: center !important;
}

.view-code-button {
    position: fixed;
    right: 20px;
    bottom: 20px;
    padding: 10px 20px;
    background-color: #0b3a9e; /* Green background */
    color: white; /* White text */
    border: none;
    border-radius: 5px; /* Rounded corners */
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
}

.view-code-button:hover {
    background-color: #0056b3; 
}